<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=4, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Mutation</title>
  </head>
  <body class="mu">
    <div class="contenedor">
      <p class="mutation">
        Una mutación es un cambio en la secuencia del ADN. <br />
        Las mutaciones pueden ser el resultado de errores en la copia del ADN
        <br />durante la división celular, la exposición a radiaciones
        ionizantes <br />  o a sustancias químicas denominadas mutágenos,<br />
        o infección por virus. <a target="_blank" href="https://www.genome.gov/es/genetics-glossary/Mutacion">Mas información aquí</a>
      </p>
    </div>

  <!--  <form
      action="{{ url_for('mutacion') }}"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="archivo" class="inputArch" />
      <input type="submit" class="btn" />
    </form> --->
  </body>
</html>
